<% cache ["home/index/_event", event] do %>
  <div class="featured">
    <% if event.fb_id.present? %>
      <h3><%= facebook_event_link event.name, event.fb_id %></h3>
      <% if event.event_image.exists? %>
        <p><%= facebook_event_link image_tag(event.event_image.url(:cropped)), event.fb_id %></p>
      <% end %>
    <% else %>
      <h3><%= event.name %></h3>
      <% if event.event_image.exists? %>
        <p><%= link_to image_tag(event.event_image.url(:cropped)), event.event_image.url %></p>
      <% end %>
    <% end %>

    <% if event.no_start_time == false %>
      <h4><%= event.local_start_time %></h4>
    <% end %>

    <p><%= auto_link simple_format(event.body.html_safe) if event.body.present? %></p>
  </div>
<% end %>
