<h2><u>Content Submissions</u></h2>
<br/>
<u><strong>Bands/Musicians </u></strong>
<br/>
Wanna send in your albums or demos? <br/>
Please do; we'd love to hear your music. <br/>
We prefer you mail us a cd package in the mail:

<br/>
<br/>
<strong>Snail Mail:</strong> <br/>
Hollow Earth Radio<br/>
2018 A E. Union St.<br/>
Seattle, WA 98122<br/>
<br/>


<u><strong>Live Recordings at Alternative Venues</strong> </u><br/>
<br/>
We prefer recordings from all-ages spaces and house venues. Our main archival focus is documenting local (Pacific Northwest) related performances. However, we'll accept recordings from alternative venues from around the world. Make sure the band has given you permission to record them, and better yet, download th<%=link_to "broadcast agreement form", "/broadcast.doc"%>, have it signed by the artists, and send it in with your recording.
<br/>
<br/>

If you are local, you can <%= info_mailto%> to drop the recordings off at the station, or you can mail in a CD-R of the recordings. Please include band information and your contact info.
<br/>
<br/>

If you'd like to <%= link_to "volunteer", "volunteer"%> with Hollow Earth Radio, documenting local performances is a great way to get involved.
<br/>
<br/>

<br/><p/>
<u><strong>Mix Tapes</u></strong><br/>

<p>
We love mix tape submissions, especially if it highlights Northwest music & sounds, music made by your friends, or music that is under the radar. Please send in content that supports our <%=link_to "mission", "about"%>. We will not play mainstream music. The easiest way to receive this from you is on a CD-R via snail mail. We'll let you know when it airs.<br/>
</p>

Include in package:
<ul>

    <li> Name, email, and anything you want to tell us about your mix.</li><br/>


    <li> Provide a sequential playlist (including artist name & song title). Make sure that all songs are separate tracks.</li><br/>


    <li> There is one *DMCA rule that applies to internet broadcasters that is important to know if you want your mix to air. In any three-hour period, you should not intentionally program more than three songs (and not more than two songs in a row) from the same recording; you should not intentionally program more than four songs (and not more than three songs in a row) from the same recording artist or anthology/box set.</li><br/>

    *(The Digital Millennium Copyright Act was passed by Congress and details the rules regarding Internet broadcasts that are eligible for compulsory licenses.) <br/>

</ul>

<br/><br/>
<u><strong>Other Sounds</u></strong>
<br/>
Ultimately, we will accept any sound that supports our vision, no matter the length or style or quality. If you found an old hissing tape of yourself at 13 talking about girls and playing guitar riffs, We Want It. It can be lo-fi, and it doesn't have to be perfect or even sound remotely like something you would normally hear on the radio. Think: field recordings, found sound, old home recordings, demos, robot radio plays, etc. Questions? <%= info_mailto%>
<br/>






