<h2> Email </h2>

<ul>
  <li class="><%= info_mailto("General information") %> </li>
  <li><%= dj_mailto("DJ Booth") %> </li>
  <li><%= music_mailto("Submit music for airplay") %></li>
  <li><%= volunteer_mailto("Volunteer signup") %></li>
  <li><%= dj_application %></li>
  <li><%= render partial: "shared/mailing" %> </li>
</ul>

<h2> Pre-Internet</h2>
  <ul>
    <li>DJ booth: 206-905-1250</li>
    <li>Voicemail line: 206-588-KHER</li>
    <li>
      Hollow Earth Radio<br/>
      2018 A E. Union St.<br/>
      Seattle, WA 98122<br/>
    </li>
  </ul>

<br/>
<a target="_blank" href="http://www.facebook.com/pages/Hollow-Earth-Radio/32233696630"><i class="fa fa-facebook fa-4x"></i>
<a target="_blank" href="https://twitter.com/hollowearth"><i class="fa fa-twitter fa-4x""></i></a>
<a target="_blank" href="http://hollowearthradio.tumblr.com/"><i class="fa fa-tumblr fa-4x""></i></a>
<a target="_blank" href="https://www.instagram.com/hollowearthradio/"><i class="fa fa-instagram fa-4x""></i></a>
<a target="_blank" href="skype:hollowearthradio/"><i class="fa fa-skype fa-4x"></i></a>
</h3>
