<h2>Points of Contact</h2>

<strong><br/><br/>
  Get on the <%= email_list %>
<br>

<strong>General Info:</strong> <%= info_mailto %>
</strong><br/><br/>

<strong><br/>
To Call The DJ And Get On Air 206-905-1250 <br/>
</strong>
<br/>
If you want to call in dreams, improvisational singing", paranormal stories, P.S.A.'s, then
call 1-206-588-KHER  (1-206-588-5437) and leave something on our voicemail that we can broadcast later!
<br/>
<strong><br/><br/>

<strong>
Song Requests & Flirts with DJs: <%= dj_mailto %>
</strong><br/><br/>

<strong>
Music Submissions: <%= music_mailto %>  </strong> <br/>(If you want to send us your album or submit radio content, go <%= link_to "here", "contribute"%> to find out how.)
</strong><br/><br/>


<strong>
Wanna volunteer? <%= volunteer_mailto %>
</strong><br/><br/>

<strong>Snail Mail:</strong> <br/>
Hollow Earth Radio<br/>
2018 A E. Union St.<br/>
Seattle, WA 98122<br/>


Facebook <%=link_to "Hollow Earth Radio Facebook", "http://www.facebook.com/pages/Hollow-Earth-Radio/32233696630"%>
<strong><br/><br/>


Twitter: <%=link_to "www.twitter.com/hollowearth", "http://www.twitter.com/hollowearth"%>
<strong><br/><br/>


AOL Instant Messanger: hollowearthradio
<strong><br/><br/>

Skype: HollowEarthRadio
<strong><br/><br/>



