<h2>FAQ</h2>
<strong><p>What frequency is Hollow Earth Radio? </strong><br/>

Hollow Earth Radio is a live streaming internet station only. We wish you could find us on the radio dial ...

<strong><br/><p>What do I need in order to listen?</strong><br/>

A computer hooked up to the internet that you can plug speakers or headphones into. That's it!

<strong><br/><p>How do I listen to Hollow Earth Radio?</strong><br/>

On the home page of the website, click on <%= listen_link("LISTEN") %> in various places on the screen.  Then click on the link for the music player that works for you. Your choices are: WinAmp, Windows Media Player, iTunes, and Real Player. We recommend iTunes, but the other players should work as well.

[Some players may download a simple playlist file (.pls) to your Desktop. Double clicking on the file should kickstart the radio]

If you use iTunes, you’ll be able to type “Hollow Earth Radio” into itunes search to tune in anytime.

<strong><br/><p>What happens when I get an error message when trying to listen? </strong><br/>

Make sure you have the latest version of the audio player you are using, so check to see if you need to update your software. Try using a different external audio player. If this doesn't work, please <%= info_mailto %> so we can help solve the issue.

<strong><br/><p>What does it mean when the computer begins to re-buffer and the music stops for a second, and why does it do this?</strong><br/>

Sometimes this could just be a bad connection between your computer and our server, which could go away with time. Also, it could be that our main computer used to run the radio has melted into oblivion. We'll have to perform alchemic ceremonies to revive the database. In that case, just wait a few minutes and we'll be back up and running ASAP. While we’re at it: If you hear a long delay of silence, or notice that we're playing all the songs that start with "J" for 12 hours straight, or think you hear multiple cat meows instead of a dj please <%= info_mailto %>.

<strong><br/><p>Where are you broadcasting from? </strong><br/>

We are broadcasting out of an attic in Seattle.  We also do remote broadcasts at <%= link_to "DIY VENUES", "resources"%> around King County and within the Northwest. Our goal is to find a public venue to operate our station in the future.

<strong><br/><p>Are you broadcasting live? </strong><br/>

We have DJs with weekly or bi-weekly <%= link_to "shows", :controller => "programs"%> who spin music live and handle your requests. Check out our <%= link_to "calendar", "schedule"%>   for schedules. When there is no live DJ, we have pre-recorded programs, local performances, archived radio shows, and unique mixes of music that we’ve crafted just for you.

<strong><br/><p>Who started the radio & how long has it been around? </strong><br/>

Amber Kai Morgan and Garrett Kelly are the founders of Hollow Earth Radio. They began planning it mid 2006, and went live January 1, 2007. Now we have around 60 volunteers & community members involved with keeping the station running. We are an all volunteer-run radio station.
<br/>
<p/>

<strong><br/><p>I am in a band. Can I send you our music? How? </strong><br/>

YES! We'd love to have it. Go to our <%= link_to "contribute", "contribute"%> page to find out how. We try to play as much local, Northwest, and smaller indie bands as possible.

<strong><br/><p>I'm in a band and we wanna do an in-studio. How can we make this happen?</strong><br/>

Well, first - send us your music <%= link_to "submission", "contribute" %> via the <%= music_mailto %> to let them know you'd love to do an in-studio. We can only do so many in-studios, but if the stars align, you might just find yourself in our studio performing live with <%= link_to "Esther Cat", "shirts" %>  purring in your lap...

<br/><p/>

<strong><br/><p>I live in a rural town in Washington state & I want to have a radio show that covers our local scene, however small. Is this possible even though I don't live in Seattle?</strong><br/>

YES! It's quite possible that we could work out a remote broadcast of a live performance in your town. <% info_mailto %>

<strong><br/><p>Do you play music that isn't from the Pacific Northwest?</strong><br/>

We are based in Seattle, Washington and we like to support what's happening locally, but we most definitely play music from anywhere in the world.


<strong><br/><p>Are you a freeform radio station?</strong><br/>

Yep & proud of it too. Freeform radio is a format in which DJs are given total control over what sounds to play. This programming format is different from a lot of commercial and even college radio stations where DJs are known to have little or no control over what they play.


<strong><br/><p>Do you post playlists anywhere? </strong>

Yes! Song titles/artist names should be streaming live your music player, and a list of the last 10 songs aired show up on the homepage & listen page of our website. You may also see archived playlists from each radio show if you go to the individual <%= link_to "show", :controller => "programs"%> pages.

<strong><br/><p>Do you have a mailing list? </strong><br/>

Hell yeah. Get on it? Are you not on it yet?  <%= email_list %>

<strong><p>Can I be a DJ? </strong><br/>

YES! We always accept volunteer applications that may lead to being a DJ on Hollow Earth Radio. We have a monthly orientation the first Sunday of every month at 2pm at the station. Fill out an <%= link_to "application", "/application.pdf"%> and <% info_mailto %> to sign up for the next orientation.

If you are outside of the King County area or you want to contribute from your bedroom, consider sending us a <%= link_to "Mix Tape Submission", "contribute"%>. We’ll air it on the radio.

<strong><br/><p>Do you have podcasts?  </strong><br/>

We have select podcasts available for downloading. Well...soon.

<strong><br/><p>I have recorded house shows in Seattle or the Northwest or somewhere else in the world. Can I contribute my own recordings for airplay? </strong><br/>

YES! We'd love to have your live house show recordings. Please make sure the artists are okay with their shows being on our radio before you contribute. For more information, go to the <%= link_to "Contribute", "contribute"%> page.

<br/>
<p/>

<strong><br/><p>How do you pay for Hollow Earth Radio? Can I make a donation? </strong><br/>

We pay for the radio through listener-supported donations and fundraisers like the December Holiday DIY Fair.  We've received grants from 4Culture, Humanities of Washington, and The City of Seattle Arts & Cultural Affairs. We are a tax-exempt nonprofit. If you like what we are doing and support our mission, you may donate <%= link_to "here", "donate"%>. If make a donation of more than $15 you can get a glow-in-the-dark Hollow Earth radio t-shirt.








