<!DOCTYPE html>
<html>
<head>
  <title> <%= content_for?(:title) ? content_for(:title) : "Hollow Earth Radio" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<%= render "shared/nav" %>
	</nav>

	<section>
		<%= yield %>
	</section>
</body>
</html>
